/*Global settings*/

:root {
    --header-line-size: 3px;
    --window-line-size: 4px;
    --window-margins: 8px;
    --text-padding: 5px;
    overflow: clip;
    text-overflow: ellipsis;

    font-family: Inter, serif;
    background-color: #32449b;
    --header-primary: #2196f3;
    --switcher-hover: #1e83d9;
    --window-primary: #7da9e3;
    --header-line-color: #bae1ff;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0 5px 5px 5px;
    font-size: 12px;
    list-style: none;
}

li::before {
    content: "> ";
}

/*Header*/

.header {
    /*Makes header */
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 44px;

    background-color: var(--header-primary);
    border-color: var(--header-line-color);

    border-style: solid;
    border-width: 0 0 var(--header-line-size) 0;
}

.header__title {
    display: flex;
    margin: 10px;
    font-weight: normal;
    width: fit-content;

    font-size: 18px;
}

.header__random-quote {
    display: flex;
    justify-content: right;
    margin: 12px 10px 12px 0;
    width: fit-content;

    font-size: 16px;
}

/*Footer*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 32px;
    min-height: 32px;

    background-color: var(--header-primary);
    border-style: solid;
    border-width: var(--header-line-size) 0 0 0;
    border-color: var(--header-line-color);
}

.footer-flex {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 6px 12px 6px 12px;
}

.footer-flex__slideout__label {
    font-family: monospace;
    font-size: 14px;
    max-height: 18px;
}

.footer-flex__slideout__cursor {
    position: relative;

    font-size: 14px;
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
}

.footer-flex__source-code {
    font-size: 14px;
}

@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}
