:root {
    font-family: Inter, serif;
    --header-primary: #2196f3;
    overflow: auto;
}

/*Header*/

.header {
    margin: 0;
    background-color: var(--header-primary);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
}

.header h1 {
    font-size: 18px;
    float: left;
    margin: 10px;
    padding-right: 20px;
    font-weight: normal;
}

.header p {
    float: right;
    margin: 10px;
}

/*Footer*/

.footer {
    background-color: var(--header-primary);
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    max-height: 32px;
}

/*Slideout stuff*/

.slideout {
    margin: 7px 0 7px 7px;
    display: flex;
    position: sticky;
}

.slideout-button {
    max-height: 18px;
    top: 0;
    position: relative;
    font-family: monospace;
    background-color: transparent;
    float: left;
    font-size: 14px;
    border: none;
    width: fit-content;
    cursor: pointer;
    text-align: left;
}

/*.slideout:hover .slideout-content {*/
/*    bottom: 105%;*/
/*}*/

.slideout-content {
    transition: all .5s ease-out;
    bottom: -100%;
    /*left: -5.05%;*/
    z-index: 100;
    position: relative;
    width: fit-content;
    background-color: var(--header-primary);
}

.slideout-content a {
    font-size: 14px;
    font-family: monospace;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}