@import "mocha";
@import "variables";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    overflow: auto;
}

body {
    background: $base;
    color: $text;

    a {
        color: $green;
    }

    h1, h2, h3 {
        margin: 0;
        font-weight: normal;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }
}

.flex {
    display: flex;
}

aside {
    background: $surface0;
    margin: $very-large-space;
    width: 25%;
    height: 100%;
    border-radius: 16px;
    -moz-border-radius: 16px;
}

.sidebar__identifier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    img {
        margin: $very-large-space $very-large-space 0 $very-large-space;
    }

    h1, h3 {
        text-align: center;
    }

    h1 {
        color: $sky;
    }
}

#profile_picture {
    border-radius: 50%;
    background: $surface1;
}
