html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  overflow: auto;
}

body {
  display: flex;
  background: #1e1e2e;
  color: #cdd6f4;
}
body a {
  color: #89b4fa;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
  font-weight: normal;
}
body h1 {
  font-size: 48px;
}
body h2 {
  font-size: 32px;
}
body h3 {
  font-size: 24px;
}
body h4 {
  font-size: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px 40px;
  width: 25%;
  height: 100%;
}
.sidebar .sidebar__infocard {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #313244;
  border-radius: 16px;
  margin-bottom: 20px;
}
.sidebar .sidebar__infocard #profile_picture {
  background: #f5e0dc;
  border-radius: 50%;
  max-height: 100%;
  height: auto;
  margin: 20px 20px 0 20px;
}
.sidebar .sidebar__infocard h1, .sidebar .sidebar__infocard h3, .sidebar .sidebar__infocard h4 {
  text-align: center;
  margin: 0 20px 0 20px;
}
.sidebar .sidebar__infocard #username {
  color: #89dceb;
}
.sidebar .sidebar__infocard #discordstatus {
  margin-top: 2px;
}
.sidebar .sidebar__infocard #discordstatus a {
  color: #cdd6f4;
  text-decoration: none;
}
.sidebar .sidebar__infocard #discordstatus #discordstatus__status {
  color: #a6e3a1;
}
.sidebar .sidebar__infocard .infocard__connections {
  list-style: none;
  margin: 8px 20px 20px 40px;
  padding: 0;
  font-size: 18px;
}
.sidebar .sidebar__infocard .infocard__connections .small_subtext {
  color: #a6adc8;
  font-size: 14px;
}
.sidebar .sidebar__infocard .infocard__connections .connection_icon {
  float: left;
  text-align: center;
  margin-top: 4px;
  margin-left: -20px;
  max-width: 20px;
  max-height: 20px;
}
.sidebar .sidebar__navblock {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #313244;
  border-radius: 16px;
  margin-bottom: 20px;
}
.sidebar .navblock__pagelist {
  list-style: "> ";
}
.sidebar .navblock__webring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.sidebar .navblock__webring .webring__button {
  max-height: 60px;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sidebar .navblock__webring #webring_left {
  margin-left: 20px;
  margin-right: 8px;
}
.sidebar .navblock__webring #webring_right {
  margin-left: 8px;
  margin-right: 20px;
}
.sidebar .navblock__webring #webring_link {
  width: 100%;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}
.main .main_card {
  background: #313244;
  border-radius: 16px;
  width: 100%;
  margin-bottom: 16px;
}
.main .main_card .card_content {
  margin: 8px 8px 8px 10px;
}
.main .main_card .card_content .card_subtitle {
  color: #a6adc8;
}
.main .main_card .card_content .card_icon {
  float: left;
  max-width: 128px;
  margin: 8px 10px 4px 0;
  background: #f5e0dc;
  border-radius: 16px;
}

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
