@import "mocha";
@import "functions";
@import "variables";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body {
    @extend %flex;
    background: $body_background_color;
    color: $text_color;
    flex-direction: column;

    a {
        color: $link_color;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: normal;
    }

    h1 {
        font-size: $header1-size;
    }

    h2 {
        font-size: $header2-size;
    }

    h3 {
        font-size: $header3-size;
    }

    h4 {
        font-size: $header4-size;
    }

    .rosewater_text {
        color: $rosewater;
    }

    .flamingo_text {
        color: $flamingo;
    }

    .pink_text {
        color: $pink;
    }

    .mauve_text {
        color: $mauve;
    }

    .red_text {
        color: $red;
    }

    .maroon_text {
        color: $maroon;
    }

    .peach_text {
        color: $peach;
    }

    .yellow_text {
        color: $yellow;
    }

    .green_text {
        color: $green;
    }

    .teal_text {
        color: $teal;
    }

    .sky_text {
        color: $sky;
    }

    .sapphire_text {
        color: $sapphire;
    }

    .blue_text {
        color: $blue;
    }

    .lavender_text {
        color: $lavender;
    }

    .italics {
        font-style: italic;
    }
}

.animated_background {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"%3E%3Cpath d="M 25 0 L 25 50 M 0 25 L 50 25" stroke="' + $grid-line-colors + '" stroke-width="' + $grid-line-width + '" fill="none"/%3E%3C/svg%3E');
    animation: diagonally_scrolling_grid 2500ms linear infinite;
    opacity: 0.5;
}

@keyframes diagonally_scrolling_grid {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50px 50px;
    }
}

@keyframes scrolling_gradient_animation {
    0% {
        background-position: -33% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

.screen {
    @extend %flex;
    margin: $large-space $very-large-space 0 $very-large-space;
    position: relative;
    top: 48px;
}
