@import "functions";

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.main {
    .main_card {
        .card_content {
            @keyframes rotate_gradient {
                to {
                    --angle: 360deg;
                }
            }

            .gradient_text {
                @extend %gradient_text_clip, %no_text_deco;
            }

            .firstcomp_solo {
                @extend .gradient_text;
                background: linear-gradient(110deg, $sky, $mauve, $sky);
                animation: scrolling_gradient_animation 2500ms linear infinite;
                background-size: 400% 100%;
            }

            // crazy+ maps
            #central_mass_array {
                background: linear-gradient(var(--angle), #093939, #00ffff, #093939);
                --angle: 0deg;
                animation: rotate_gradient 5000ms linear infinite;
            }

            #whirlwind_wasteland {
                background: linear-gradient(#7387c2, #57589d, #7696d5);
            }

            #wildwood_waterways {
                background: linear-gradient(#fc7f03, #f7900a, #784c13);
            }

            #abandoned_harbour {
                background: linear-gradient(#851d14, #941b03, #520e16);
            }

            // crazy maps
            #minds_of_misery {
                background: linear-gradient(150deg, #b9b9b9, #4d5254, #666363);
            }

            #active_volcanic_mines_v3 {
                background: linear-gradient(#82400e, #9f5924, #b8723d, #9f5924, #82400e);
            }

            #forest_facility {
                background: linear-gradient(#9c90a6, #9c90a6, #9c90a6, #716380, #716380, #716380, #43394d, #43394d, #43394d);
            }

            #decaying_silo_v2 {
                background: linear-gradient(#ffffff, #9ff7ff);
            }

            #new {
                background: linear-gradient(#fc7f03, #f7900a);
            }
        }
    }
}