@import "mocha";
@import "functions";
@import "variables";

header {
    @extend %flex;
    flex-wrap: wrap;
    background: $surface0;
    align-content: center;
    position: absolute;
    max-width: 100vw;
    width: 100%;
    top: 0;
    z-index: 10;

    a, h3, #site_logo_image, svg {
        @extend %self-alignment;
    }

    #site_logo {
        margin-left: $small-space;
    }

    #site_header {
        margin: 0 $small-space;
    }

    .header_icon {
        max-width: 64px;
    }

    .settings_icon {
        margin: $small-space $very-small-space $small-space auto;
        max-height: 32px;
    }

    #settings_icon_path {
        stroke: $text;
        fill: $text;
    }
}

.dropdown {
    @extend %self-alignment;
    padding: 0 $small-space;
    cursor: pointer;
    position: relative;
    display: inline-block;

    p {
        font-size: 18px;
        margin: 14px 0;
    }
}

.dropdown:hover {
    background-color: $surface1;
}

.dropdown_hoverable:hover .dropdown_content {
    display: block;
}

.dropdown_hoverable_flex:hover .dropdown_content {
    display: flex;
}

.dropdown_content {
    display: none;
    position: absolute;
    width: max-content;
    left: 0;
    background-color: $surface1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        border-left: 2px solid transparent;
        padding: 2px $small-space;
        display: block;
    }

    li:hover {
        border-left-color: $subtext0;
        background-color: $surface2;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-size: 16px;
    }

    .has_nested {
        border-left: 0;
    }

    .nested {
        border-left-color: $overlay0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .selected {
        color: $green;
        border-left-color: $green;
    }
}

.dropdown_webring {
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: $surface1;

    .webring_page {
        //@extend %flex;
        min-height: 32px;
        height: 100%;
        transition: all .2s ease-in-out;
        box-sizing: border-box;
        background-color: $surface0;
        background-size: cover;

        a {
            display: inline-block;
            height: 100%;
            width: 100%;
            padding: $small-space;
            font-size: 1vw;
            color: $text;
        }
    }

    .webring_page:hover {
        transform: scale(1.1);
    }

    #webring_left {
        margin-right: $small-space;
        background-color: $mauve;

        a {
            color: $surface0;
        }
    }

    #webring_right {
        margin-left: $small-space;
        background-color: $sapphire;

        a {
            color: $surface0;
        }
    }

    //image background webring panels, this needs transparency to work properly
    //#webring_left {
    //    border: 4px solid $mauve;
    //    margin-right: $small-space;
    //    background: $surface0 url("../images/timayo.png") no-repeat;
    //    background-size: cover;
    //    background-position-y: 50%;
    //}

    //#webring_right {
    //    border: 4px solid $sapphire;
    //    margin-left: $small-space;
    //    background: $surface0 url("../images/11pixels.png") no-repeat;
    //    background-size: cover;
    //    background-position-y: 50%;
    //}

    #webring_link {
        width: 100%;
        text-align: center;
        margin: $very-small-space 0;
        text-decoration: underline;
        color: $link_color;
    }

    .webring_background_image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}