@import "mocha";
@import "functions";
@import "variables";

header {
    @extend %flex;
    flex-wrap: wrap;
    background: $surface0;
    align-content: center;
    position: absolute;
    max-width: 100vw;
    width: 100%;
    top: 0;
    z-index: 10;

    a, h3, #site_logo_image, svg {
        @extend %self-alignment;
    }

    #site_logo {
        margin-left: $small-space;
    }

    #site_header {
        margin: 0 $small-space;
    }

    .header_icon {
        max-width: 64px;
    }

    #settings_icon {
        @extend %flex, %self-alignment;
        max-height: 32px;
    }

    #settings_dropdown_padding {
        margin-left: auto;
    }

    #settings_icon_path {
        stroke: $text;
        fill: $text;
    }
}


