@import "mocha";
@import "variables";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    overflow: auto;
}

body {
    display: grid;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 1fr 3fr;
    background: $base;
    color: $text;

    .feather {
        width: 24px;
        height: 24px;
        stroke: $overlay2;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }

    a {
        color: $blue;
    }

    h1, h2, h3, h4 {
        margin: 0;
        font-weight: normal;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px
    }
}

.sidebar {
    display: grid;
    grid-area: sidebar;
    margin: $large-space 0 0 $very-large-space;
    width: 25%;

    .sidebar__infocard {
        display: flex;
        flex-direction: column;
        align-content: center;
        background: $surface0;
        border-radius: 16px;
        margin-bottom: $large-space;

        #profile_picture {
            background: $rosewater;
            border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            margin: $large-space $large-space 0 $large-space;
        }

        h1, h3, h4 {
            text-align: center;
            margin: 0 $large-space 0 $large-space;
        }

        #username {
            color: $sky;
        }

        #discordstatus {
            margin-top: 2px;

            a {
                color: $text;
                text-decoration: none;
            }

            #discordstatus__status {
                color: $green;
            }
        }

        .infocard__connections {
            list-style: none;
            margin: $small-space $large-space $large-space $very-large-space;
            padding: 0;
            font-size: 18px;

            .small_subtext {
                color: $subtext0;
                font-size: 14px;
            }

            .connection_icon {
                float: left;
                text-align: center;
                margin-top: 4px; // i'm cheating icon placement
                margin-left: -20px;
                max-width: 20px;
                max-height: 20px;
            }
        }
    }

    .sidebar__navblock {
        display: flex;
        flex-direction: column;
        align-content: center;
        background: $surface0;
        border-radius: 16px;
        margin-bottom: $large-space;
    }

    .navblock__pagelist {
        list-style: "> ";
    }

    .navblock__webring {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: $large-space;

        .webring__button {
            max-height: 60px;
            height: 100%;
            width: 100%;
            margin-bottom: $large-space;
            margin-top: $large-space;
        }

        #webring_left {
            margin-left: $large-space;
            margin-right: $small-space;
        }

        #webring_right {
            margin-left: $small-space;
            margin-right: $large-space;
        }

        #webring_link {
            width: 100%;
            text-align: center;
        }
    }
}

.main {
    display: grid;
    grid-area: main;
    margin: $large-space;
    width: 100%;

    .content_block {
        display: inline-block;
        block-size: fit-content;
        background: $surface0;
        border-radius: 16px;
        width: 100%;
    }
}

