@import "mocha";
@import "functions";
@import "variables";

.main {
    @extend %flex-column;
    margin-left: $large-space;
    width: 100%;

    .main_card {
        @extend %panel, %background-blur;
        margin-bottom: $main-content-space;

        .card_content {
            margin: $small-space;

            hr {
                margin: $very-small-space 0;
                border-color: $overlay2;
            }

            ul {
                padding-left: 32px;
                margin: $small-space 0;
            }

            .topless { // haha like my so
                margin-top: 0;
            }

            .card_subtitle {
                color: $subtext0;
                font-style: italic;
            }

            .card_embed {
                float: left;
                margin: 0 $medium-space $small-space 0;
                background: $rosewater;
                max-width: 100%;
            }

            .card_icon {
                max-width: 128px;
            }

            .rounded_borders {
                @extend %rounded-border;
            }

            p {
                margin: 0;
            }

            #random_cat {
                display: block;
                max-height: 512px;
                height: auto;
                width: auto;
            }

            .device_name {
                font-weight: bold;
            }

            .subtext {
                font-size: 14px;
            }

            .label {
                font-size: 12px;
                color: $subtext0;
            }

            .title_label {
                font-size: $header4-size;
                font-style: italic;
            }
        }
    }

    .red_text {
        color: $red;
    }

    .yellow_text {
        color: $yellow;
    }

    .green_text {
        color: $green;
    }

    .blue_text {
        color: $blue;
    }

    .mauve_text {
        color: $mauve;
    }
}
