@import "mocha";
@import "functions";
@import "variables";

.sidebar {
    @extend %flex-column;
    width: 20%;
    height: 100%;

    .sidebar__infocard {
        @extend %panel, %vertical-alignment, %background-blur, %margin-bottom-large;

        #profile_picture {
            background: $rosewater;
            border-radius: 50%;
            max-height: 100%;
            height: auto;
            margin: $large-space $large-space 0 $large-space;
        }

        h1, h3, h4 {
            text-align: center;
            margin: 0 $large-space 0 $large-space;
        }

        #username {
            color: $sky;
        }

        #username__subtitle {
            cursor: pointer;
            user-select: none;
        }

        #discordstatus {
            margin-top: 2px;

            a {
                color: $text;
                text-decoration: none;
            }

            #discordstatus__status {
                color: $green;
            }
        }

        .infocard__connections {
            list-style: none;
            margin: $small-space $large-space $large-space $very-large-space;
            padding: 0;
            font-size: 18px;

            .small_subtext {
                color: $subtext0;
                font-size: 14px;
            }

            .connection_icon {
                float: left;
                text-align: center;
                margin-top: 4px; // i'm cheating icon placement
                margin-left: -20px;
                max-width: 20px;
                max-height: 20px;
            }
        }
    }

    .sidebar__navblock {
        @extend %panel, %vertical-alignment, %margin-bottom-large, %background-blur;

        .navblock__pagelist {
            list-style: none;
            padding: 0;
            margin: $large-space 0 0 0;

            li {
                padding: 2px 0 2px $large-space;
                border-left: 2px solid transparent;
            }

            li:hover {
                border-left-color: $overlay2;
                background-color: $surface1;
            }
        }

        .navblock__line {
            background-color: $overlay0;
            border: none;
            height: 2px;
            margin: $large-space 0 $large-space 0;
        }

        .navblock__webring {
            @extend %flex, %margin-bottom-large;
            justify-content: center;
            align-items: center;
            height: auto;

            .webring__button {
                font-size: 1vw;
                max-height: 60px;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                border: none;
                margin-bottom: $medium-space;
                margin-top: $medium-space;
                color: $mantle;
                cursor: pointer;
                user-select: none;
            }

            #webring_left {
                background-color: $mauve;
                margin-left: $large-space;
                margin-right: $small-space;
            }

            #webring_right {
                background-color: $sapphire;
                margin-left: $small-space;
                margin-right: $large-space;
            }

            #webring_link {
                width: 100%;
                text-align: center;
            }
        }
    }
}
