@use "mocha";

// spacing
$very-large-space: 40px;
$large-space: 20px;
$medium-space: 10px;
$small-space: 8px;
$very-small-space: 4px;
$main_content_space: 16px;

// color declarations
$body_background_color: mocha.$base;
$text_color: mocha.$text;
$subtext_color: mocha.$subtext0;
$link_color: mocha.$blue;
$image_background_color: mocha.$rosewater;
$panel-background: mocha.$surface0;  // alpha of 0-1 is infinitely easier than 00-ff
$grid-lines: #2196f3;

// other
$grid-line-width: 4px;
