@use "mocha";

// spacing
$very-large-space: 40px;
$large-space: 20px;
$medium-space: 10px;
$small-space: 8px;
$very-small-space: 4px;
$main_content_space: 16px;

// color declarations
$body_background_color: mocha.$base;
$text_color: mocha.$text;
$subtext_color: mocha.$subtext0;
$link_color: mocha.$blue;
$image_background_color: mocha.$rosewater;
$panel-background: hsla(237, 16%, 23%, 0.75);  // have to use HSLA to blur the panels
$grid-line-colors: hsla(206.6, 89.7%, 54.1%, 1);

// other
$grid-line-width: 4px;
