@import "functions";
@import "variables";

@media only screen and (max-width: 640px) {
    .screen {
        flex-direction: column;
    }

    .main {
        margin-left: 0;
    }

    .sidebar {
        width: 100%;
    }

    .dropdown_content {
        right: 0;
    }
}

@media only screen and (min-width: 800px) {
    .dropdown_content {
        left: 0;
    }
}